<%- include('./header'); %>
<div class="container">
    <div class="card mb-5">
        <%- include('./topmenu'); %>
    </div>
    <div>
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <h5>จังหวัด: 
                            <button class="btn btn-info btn-province" prefix="skm">สมุทรสงคราม</button>
                            <button class="btn btn-info btn-province" prefix="ssk">สมุทรสาคร</button>
                            <button class="btn btn-info btn-province" prefix="atg">อ่างทอง</button>
                        </h5>
                    </div>
                    <div class="col-xl-6">
                        <div class="main_graph">
                            <label for="rxChart">-</label>
                            <canvas id="rxChart"></canvas>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div id="ne_table">
                            <table id="province_ne_table" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Node</th>
                                        <th>จำนวน PON</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                        <div id="rx_table">
                            <table id="province_rx_table" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>PON</th>
                                        <th>Good</th>
                                        <th>Bad</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                        <input type="hidden" id="current_prefix" value="">
                        <input type="hidden" id="current_master_id" value=0>
                    </div>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript" src="/pub/js/bundle.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
<script type="text/javascript" src="/pub/js/aarx_onu.js" defer></script>
<%- include('./footer'); %>