</div>

</body>
<footer>
    <div class="center_text" id="footer">
        <div class="h5">PON quality index system &copy; 2022 Astra Communication Service Co.,Ltd Version 1.0.9</div>
    </div>
</footer>
</html>